* {
    text-align: center;
    position: relative;
}

td {
    outline-style: solid;
    outline-width: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

form {
    display: inline-table;
    max-width: 1050px;
}

form input[type=date]  {
    min-width: 120px;
}

body {
    color: #222;
    background: #fff;
}

body input:disabled {
    color: #fff
}

body.dark-theme {
    color: #eee;
    background: #121212;
}

body.dark-theme input:disabled {
    color: #eee
}

.centered {
    position: relative;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, 0%);
}

.spaced {
    display: table;
    width: 100%;
    table-layout: auto;
}

.spaced div {
    display: table-row;
}

.spaced div span {
    display: table-cell;
    text-align: center;
}

.spaced div span span {
    display: table-cell;
    padding-left: 5px;
    padding-right: 5px;
}

.spaced div span * {
    display: block;
    margin: auto;
    width: auto;
}


