body {
    color: #eee;
    background: #121212;
}

.centered {
    position: fixed;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, 0%);
}

input:disabled {
    background-color: blanchedalmond;
}

body input:disabled {
    color: #eee;
}

body.dark-theme {
    color: #eee;
    background: #121212;
}

body.dark-theme input:disabled {
    color: #eee
}
